
body {
    background-color: #000000;
    padding-top: 0px;
}

.main {
    width: 950px;
    height: 700px;
}

.playerImage {
    width: 180px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition:-webkit-filter 0.2s ease-in-out; 
}

.playerImage:hover, .playerImageColor { 
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition:-webkit-filter 0.2s ease-in-out; 
}

#footer {
    height: 20px;
    color: #333333;
    font-size: 8pt;
    width: 950px;
    font-style: none;
    text-align: center;

}

a {
    color: #333333;
    font-size: 8pt;
    font-family: sans-serif;
    text-decoration: none;
}

.aboutPage *, .aboutPage {
    color: #ffffff;
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: none;
}

.aboutPage a {
    color: #aaaaaa;
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: none;
}
